
@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Rubik+Spray+Paint&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to right, rgb(52, 194, 146), rgb(219, 36, 36));
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
header {
    padding: 20px;
    border-style: solid;
    color:white;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgb(36, 131, 99), rgb(121, 18, 18));
    filter: blur();
}

header a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    
    transition: 0.6s;
}

header a:hover {
    text-decoration: underline;
    transition: 0.7s;
}


.container {
    padding: 10px;
    color: white;
}


form {
    color: white;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(27, 17, 17, 0.24);
    border-radius: 10px;
    margin-top: 20px;
    display:flex;
}



#fname {
    background-color: rgba(27, 17, 17, 0.24);
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    color:white;
    border-color: rgba(27, 17, 17, 0.24);
    margin-left: 20px;
    transition: 0.4s;
    font-size: 1.5em;
    font-family: "Inter", sans-serif;


}
#muutosLabel {
    font-size: 1.2em;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: bolder;
}
#muutos {
    margin-top: 10px;
    width: 200px;
    font-size: 1em;
    color: white;
    font-family: "Inter", sans-serif;
    background-color: rgba(27, 17, 17, 0.24);
    border-color: rgba(27, 17, 17, 0.24);
    border-radius: 20px;
    transition: 0.5s;
}


.muunna {
    font-family: "Inter", sans-serif;
    background-color: rgba(27, 17, 17, 0.24);
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    color:white;
    border-color: rgba(27, 17, 17, 0.24);
    margin-left: 30px;
    transition: 0.4s;
    font-size: 1.15em;
    font-weight: bold;
    cursor: grab;

}



.muunna:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



form h3 {
    color:white;
}

#vastaus {
    background-color: rgba(27, 17, 17, 0.24);
    font-size: 1.3em;
    color:white;
    padding: 30px;
    transition: 0.5s;
    border-radius: 20px;
    margin-top: 40px;
}

.vaihtoehdot {
    margin: 10;
    color:white;
}


footer {
    text-align: center;
    margin-top: auto;
    border-style: solid;
    padding: 100px;
    background-color: rgba(27, 17, 17, 0.24);
    border-radius: 20px;
    border-color: rgba(27, 17, 17, 0.24);
    font-family: "Inter", sans-serif;
}