
@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oi&family=Outfit:wght@100..900&family=Rubik+Spray+Paint&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, rgb(52, 194, 146), rgb(219, 36, 36));
    display: flex;
    flex-direction: column;
    margin: 5;
}

header {
    padding: 20px;
    border-style: solid;
    color:white;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgb(36, 131, 99), rgb(121, 18, 18));
    filter: blur();
}

header a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    
    transition: 0.6s;
}

header a:hover {
    text-decoration: underline;
    transition: 0.7s;
}


.container {
    padding: 10px;
    color: white;
}


form {
    color: white;
    font-weight: bold;
    padding: 40px;
    display: flex;
    background-color: rgba(27, 17, 17, 0.24);
    filter: blur();
    border-radius: 10px;
}



#fname {
    background-color: rgba(27, 17, 17, 0.24);
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    color:white;
    border-color: white;
    margin-left: 30px;
    transition: 0.4s;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;

}

.muunna {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(27, 17, 17, 0.24);
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    color:white;
    border-color: white;
    margin-left: 30px;
    transition: 0.4s;
    font-size: 1.15em;
    font-weight: bold;
    cursor: grab;
}



.muunna:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



form h3 {
    color:white;
}

#vastaus {
    background-color: rgba(27, 17, 17, 0.24);
    font-size: 1.3em;
    color:white;
    padding: 30px;
    transition: 0.5s;

}

